* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', "Gilroy", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

.text_rules {
    color:#333;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.8rem;
    text-align: center;
}

.head_rules_holdem {
    color:#363636;
    font-size: 1.85rem;
    font-weight: 700;
    text-align: center;
}

.preface_to_head {
    color:#363636;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
}

.container_definition {
    text-align: center;
    margin: 3rem auto 0;
    width: 55%;
    gap: 1.2rem;
    display: grid;
    place-items: center;
}

.definition_texas_holdem,
.purpose_holdem {
    color:#363636;
    font-size: 1.3rem;
    padding: 2rem 1rem;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
}

.text_poker_combination {
    color:#363636;
    font-size: 1.3rem;
    font-weight: 500;
}

.image_poker_combination img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.2rem;    
    transition: all 0.3s ease;
}

/* .image_poker_combination img:hover {
    transform: scale(1.005);
} */




/* for mobile */

@media (max-width: 480px) {
    .text_rules {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    .head_rules_holdem {
        font-size: 1.3rem;
    }
    
    .preface_to_head {
        font-size: 1.1rem;
        margin-top: 0.5rem;
    }
    
    .container_definition {
        width: 90%;
        margin: 1.5rem auto 0;
    }
    
    .definition_texas_holdem {
        font-size: 1rem;
        padding: 1rem 0.8rem;
        line-height: 1.4;
    }
    .purpose_holdem {
        /* margin-top: 0.8rem; */
        font-size: 1rem;
        padding: 1rem 0.8rem;
        line-height: 1.4;
    }
    
    .preface_to_head br {
        display: none; 
    }

    .text_poker_combination {
        font-size: 1rem;
        
    }

    .image_poker_combination img {
        max-width: 320px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
}